{% extends "base.html" %}

{% block title %}Sorry, Method not Supported{% endblock %}

{% block content %}
	<form method="POST">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	</form>
	<div class="error-page">
		<div class="error-underlay">
			405
		</div>
		<div class="error-content">
			<h1>Error 405</h1>
			<p style="font-size: larger;">Oops! That method isn't supported by this resource.</p>
			<p><a href="{{ (url_for('reader.index')) }}">Turn back the Page</a></p>
			<p style="font-size: smaller;"><a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#405" title="Open the Wikipedia article &#8220;List of HTTP status codes&#8221; in a new window or tab." target="_blank"><i class="fa-brands fa-wikipedia-w"></i> Find Out More about 405 Errors</a></p>
		</div>
	</div>
{% endblock %}