<!--
This file is part of Simple Summer Reading.

Simple Summer Reading is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
Foobar is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
You should have received a copy of the GNU General Public License along with Simple Summer Reading. If not, see <https://www.gnu.org/licenses/>.
-->

{% extends "base.html" %}

{% block title %}User Registration{% endblock %}

{% block content %}

<div class="index-page">
	<h1>Please Register for Simple Summer Reading</h1>
	<div style="text-align: center;">
		<i class="fa-solid fa-book-open-reader site-logo"></i>
	</div>
	<div class="form">
		<form method="POST">
			{{ form.hidden_tag() }}

			<div class="flex-container">
				<div>
					{{ form.full_name.label(class_='register-label') }}<br />
					{{ form.full_name(size=42, placeholder='Name', class_='form-line-input') }}
					<br />
					<span class="form-caption">Full Name</span>
					{% if form.full_name.errors %}
						<ul class="errors">{% for error in form.full_name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
					{% endif %}
				</div>
				<div>
					{{ form.email_address.label(class_='register-label') }}<br />
					{{ form.email_address(size=42, placeholder='name@domain.com', class_='form-line-input') }}
					<br />
					<span class="form-caption">E-mail Address</span>
					{% if form.email_address.errors %}
						<ul class="errors">{% for error in form.email_address.errors %}<li>{{ error }}</li>{% endfor %}</ul>
					{% endif %}
				</div>
				<div>
					{{ form.phone_number.label(class_='register-label') }}<br />
					{{ form.phone_number(size=42, placeholder='555-555-5555', class_='form-line-input') }}
					<br />
					<span class="form-caption">Phone Number</span>
					{% if form.phone_number.errors %}
						<ul class="errors">{% for error in form.phone_number.errors %}<li>{{ error }}</li>{% endfor %}</ul>
					{% endif %}
				</div>
				<div>
					{{ form.username.label(class_='register-label') }}<br />
					{{ form.username(size=42, placeholder='Username', class_='form-line-input') }}
					<br />
					<span class="form-caption">Min: 4 char. Max: 42 char. Alphanumeric Only.</span>
					{% if form.username.errors %}
						<ul class="errors">{% for error in form.username.errors %}<li>{{ error }}</li>{% endfor %}</ul>
					{% endif %}
				</div>
				<div>
					{{ form.password1.label(class_='register-label') }}<br />
					{{ form.password1(size=42, placeholder='Password', class_='form-line-input') }}
					<br />
					<span class="form-caption">Min: 8 char. Max: 232 char.</span>
					{% if form.password1.errors %}
						<ul class="errors">{% for error in form.password1.errors %}<li>{{ error }}</li>{% endfor %}</ul>
					{% endif %}
				</div>
				<div>
					{{ form.password2.label(class_='register-label') }}<br />
					{{ form.password2(size=42, placeholder='Confirm Password', class_='form-line-input') }}
					<br />
					<span class="form-caption">Please Confirm Your Password</span>
					{% if form.password2.errors %}
						<ul class="errors">{% for error in form.password1.errors %}<li>{{ error }}</li>{% endfor %}</ul>
					{% endif %}
				</div>
				<div>
					{{ form.staff_bool.label(class_='register-label') }}
					{{ form.staff_bool() }}
					{% if form.staff_bool.errors %}
						<ul class="errors">{% for error in form.password1.errors %}<li>{{ error }}</li>{% endfor %}</ul>
					{% endif %}
					<div class="sneaky">
						{{ form.staff_id.label(class_='register-label') }}<br />
						{{ form.staff_id(size=13, placeholder='Employee ID', class_='form-line-input sneaky') }}
						<br />
						<span class="form-caption">Enter your employee ID for Staff Access</span>
						{% if form.staff_id.errors %}
							<ul class="errors">{% for error in form.password1.errors %}<li>{{ error }}</li>{% endfor %}</ul>
						{% endif %}
					</div>
					<br  />
					<span class="form-caption sneaky">Check This Box if you are a Library Employee</span>
				</div>
			</div>
			<p><input type="submit" value="Register User" class="button submit-button"></p>
			<p><a href="{{ url_for('auth.login') }}">Already have an account? Log In</a></p>
		
		</form>
	</div> 
</div>

{% endblock %}

 