
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml


.DS_Store
.ipynb_checkpoints
*.ipynb
*jupyter*
.pyc

attributions.txt
config.json
config.py

instance/
untracked/

**/__pycache__
**/.env
**/.flaskenv
**/.nova













